{
  "printWidth": 100,
  "singleQuote": true,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-jsdoc", "prettier-plugin-tailwindcss"],
  "overrides": [
    { "files": "*.astro", "options": { "parser": "astro" } },
    { "files": "*.svg", "options": { "parser": "html" } }
  ]
}
