@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-accent-200: #d1bcfb;
  --color-accent-600: #7400cb;
  --color-accent-900: #3f186b;
  --color-accent-950: #2b1648;

  --color-gray-100: #f4f6fc;
  --color-gray-200: #e9eef9;
  --color-gray-300: #bcc2cf;
  --color-gray-400: #818ba5;
  --color-gray-500: #4e586f;
  --color-gray-700: #2f384d;
  --color-gray-800: #1e263b;
  --color-gray-900: #141822;
}
